#main {

	text-align: center;
	background-color: silver;

}

#greeting {
	color: #1F618D;
	font-size: 50px;
	margin-bottom: 10px;
}

#header-img {
	margin-bottom: 7px;
	background-color: #EFEBE9;
	border-radius:3%;
  border: 2px groove gray;
}

.img{
   width:250px;
   height:130px;
}
.img{
  align-self: center;
}
.aside-img{
  width:250px;
  height:130px;
  border-radius: 23px;

}
article:first-child{
color: #000;
}


.website-content{
display: flex;

}


.paraTest1{
	font-family:Trebuchet MS, Helvetica, sans-serif ;
  text-align: left;
  border-radius:2%;
  letter-spacing: 1px;
  max-width: 860px;
  padding: 10px;
}

/*flex box */

.container1 {

  display:flex; 
  justify-content: space-around;

}

.box{
  
  align-items: stretch;
  margin: 10px;
  border: 3px rgba(7, 14, 9, 0.644) solid;
  border-radius: 2%;
  background-color: rosybrown;
  padding: 10px;
  text-align: center;
  width: 30%;

  }

.container-aside{

  display:flex; 
  max-width: 20%;
  padding: 10px;
 



}
.asidebox{
  color: brown;
  align-self: center;
 
}

footer{
  background-color: rgb(64, 64, 64);
  padding-bottom: 2%;
  padding-top: 2%;
  width: 100%;
}

.container-footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display:flex;
  justify-content: center;
  width: 100%;


}
.footernav{
  color:black;
  font-weight: 100;
  letter-spacing: 2px;
  text-decoration: none;
  padding:20px 15px;
  transition:all 0.5s;
}

.footernav:hover {
color: wheat;
}
