#main {
	font-family: serif;
	text-align: center;
	background-color: silver;
	border-style: solid;
	border-width: 3px;
	border-color: rgb(22, 77, 100);
	border-radius: 9px;
	
}


a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.2s;
}

#greeting {
	color: #1F618D;
	font-size: 50px;
	margin-bottom: 10px;
}

#header-img {
	margin-bottom: 7px;
	background-color: #EFEBE9;
	border-radius:45%;
  margin-left:2%;
   border: 2px groove gray;
}

.himg{
   width:350px;
   height:230px;
}

.paraTest1{
	font-family:Trebuchet MS, Helvetica, sans-serif ;
	background-color: lightgrey;
	width:50%;
    border: 2px groove gray;
    border-radius:2%;
	padding:3% 10% 3% 10%;
	padding-bottom:3%;
	margin-left:16%;
	text-align: center;
	
}
article:first-child{
  background-color: crimson;
}


.button {
  background-color: lightsteelblue;
  color: black; 
  border: 2px solid steelblue;
  padding:1% 2%;
  border-radius:2%;
  transition-duration: 0.2s;
  border-radius:8px;
  margin:0% 35% 0% 35%;
  

}

.button:hover {
  background-color: lightslategray;
  color: white;
}



footer {
background-color: rgb(64, 64, 64);
padding: 5px;
text-align: center;
color: rgb(64, 64, 64);
}

.footernav{
text-decoration: none;
margin-left:40%;
margin-right:42%;
color:rgb(10, 5, 4);
font-size:27px;
text-align: center;

}
.footernav:hover {
color: white;
}